:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button:hover,
a:hover {
  cursor: pointer;
}

h1 {
  color: var(--pink) !important;
  font-weight: bold !important;
  font-family: 'EB Garamond', serif !important;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

a {
  text-decoration: none;
  color: #000000D9;
}

.navbar {
  width: 30%;
  height: 100vh;
  background-color: #001529;
  position: fixed;
  bottom: 0;
  top: 0;
}

.navbar .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.navbar .navbar-container .nav-logo-name-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-container .nav-logo-name-btn .nav-logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.navbar .navbar-container .nav-logo-name-btn .nav-logo-name .logo {
  width: 50px;
  height: 50px;
}

.navbar .navbar-container .nav-logo-name-btn .nav-logo-name .name {
  font-size: 2.1rem;
  color: var(--pink);
}

.navbar .navbar-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}

.navbar .navbar-container .nav-links a {
  color: var(--light-blue);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

.navbar .navbar-container .nav-links a:focus {
  background-color: #0071bd;
}

.navbar .nav-menu-btn {
  display: none;
}

.main {
  width: 70%;
  position: absolute;
  right: 0;
  z-index: 1;
}

.main .routes {
  padding: 30px;
  background-color: var(--bgSecondary);
}

.main .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #001529;
  color: var(--light-blue);
}

.main .footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .App {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .App .main {
    width: 100%;
    top: 65px;
  }
  .App .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    width: 100%;
    height: initial;
    bottom: unset;
  }
  .navbar .nav-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    background: transparent;
    color: #fff;
  }
  .navbar .nav-links {
    position: absolute;
    right: 0;
    background: #001529;
    margin-top: 60px;
    gap: 10px;
  }
}
/*# sourceMappingURL=App.css.map */